body {
  font-family: "Merriweather", serif; /*Обрати шрифт з google-fonts*/
  font-weight: 400;
  font-style: normal;
  background: #f9f7f4;
}
.header {
  background-color: #bad1da;
  padding: 40px 0;
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.list-menu {
  display: flex;
  gap: 45px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 213px;
  /* Додаємо відступ праворуч */
}

.list-header .list-link {
  text-decoration: none;
  color: #03265c;
  font-weight: 900;
  font-size: 18px;
  line-height: 0.64286;
  letter-spacing: -0.04em;
  /*text-align: center;*/
}

.list-link:hover {
  color: white;
}

.nav-header {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  padding-left: 20px;
  padding-top: 0px;
}

/*----------------HERO*/
.hero {
  background-image: url(./asset/img/hero.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  background-position: center; /* Центрувати зображення */
  background-repeat: no-repeat;
}
.title-hero {
  font-weight: 500;
  font-size: 54px;
  line-height: 1.38889;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}

.span-title-hero {
  font-style: italic;
  color: #bad1da;
}
.text-hero {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
.link-hero {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 1000px;
  padding: 12px 32px;
  width: 115px;
  height: 38px;
}
.products {
  color: #141414;
  background: #f9f7f4;
}
.organic {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1000px;
}
.marine-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}
.steps-text {
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #141414;
}
.steps-list {
  list-style-type: none;
  counter-reset: my-counter;
}

.steps-item::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: counter(my-counter);
  counter-increment: my-counter;
  color: #141414;
  border-radius: 50%;
  background: #03265c;
  min-width: 46px;
  height: 44px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}
.contacts {
  font-size: 18px;
  line-height: 1.33333;
  text-transform: uppercase;
  color: #141414;
}
footer {
  width: 100%;
  height: 280px;
  background: #bad1da;
}
