body {
  font-family: "Merriweather", serif; /*Обрати шрифт з google-fonts*/
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #bad1da;
  padding: 40px 0;
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.list-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 620px;
  /* Додаємо відступ праворуч */
}

.list-header .list-link {
  text-decoration: none;
  color: #03265c;
  font-weight: bold;
}

.list-link:hover {
  color: white;
}

.nav-header {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  padding-left: 20px;
  padding-top: 0px;
}

/*.header {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #fff;
    z-index: 3;
}

.container {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.header-container {
    
}

.header-header {
    display: flex;
}


.list-menu {
    display: none;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

.veggie-button {
    fill: #77ac63;
}

.header-logo-veggie {
    color: #141414;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.28px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.list-link {
    font-family: DM Sans;
    font-weight: 900;
    font-size: 28px;
    line-height: 0.64286;
    letter-spacing: -0.04em;
    text-align: center;
    color: #03265c;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    
}

.list-link:hover,
.list-link:focus {
    color: #77ac63;
}

.veggie-items {
    display: flex;
}

.header-mob-menu {
    display: none;
}

.basket-button {
    display: none;
}

.mob-button {
    background-color: #ffffff;
    border: transparent;
    padding: 0;
    margin-left: auto;
}

.header-mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 16px 20px 16px 20px;
}

.logotype {
    display: flex;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 335px;
        padding-left: 0;
        padding-right: 0;
    }

    .list-menu {
        display: none;
    }

    .basket {
        display: none;
    }

    .mob-button {
        background-color: #ffffff;
        border: transparent;
        padding: 0;
        margin-left: auto;
    }

    .basket-button {
        display: none;
    }

    .mob-menu-basket {
        display: none;
    }

    .header-header {
        display: flex;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
    }

    .header-header {
        display: flex;
        width: 100%;
    }

    .list-menu {
        display: flex;
        gap: 20px;
        margin-right: 86px;
    }

    .header-mob-menu,
    .mob-button {
        display: none;
    }

    .basket-button {
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .basket-button-but {
        fill: #fff;
        stroke: #141414;
    }

    .nav-header {
        display: flex;
        align-items: center;
        margin: 0;
        flex-grow: 1;
    }

    /* .logotype {
    display: flex;
  } 
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1216px;
    }

    .basket-button {
        display: flex;
        background-color: transparent;
        border: none;
        margin-left: auto;
    }

    .basket-button:hover,
    .basket-button:focus {
        fill: #77ac63;
    }

    .header-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .basket-button-but {
        fill: #fff;
        stroke: #141414;
    }

    .list-menu {
        margin-right: 308px;
    }
}*/
